<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> RH </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> AT :  <input type="text", name='AT', placeholder="AT"> <br><br>
            EV :  <input type="text", name='EV', placeholder="EV"> <br><br>
            AP :  <input type="text", name='AP', placeholder="AP"> <br><br><br></b>
            
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\image1.jpg' alt="image1">
        
    </center>

    </body>
</html>
